# Cactus configuration for Argus cluster at the University of Aveiro

# NOTES:
# - Argus has an outdated debugger, using `-gdwarf-4` for compatability
# - For some reason, using processes leads to errors, using threads instead

# List of the available nodes:
#   Node            CPU                           SCORE  THREADS  RAM
#   1-24            Xeon E5-2690 v3 @ 2.60GHz     16060  24       128G
#   26-40           Xeon E5-2690 v4 @ 2.60GHz     19265  28       128G
#   41,43,44,46-52  Xeon Gold 6132 CPU @ 2.60GHz  22200  28       128G
#   53-55           Xeon Gold 6230 CPU @ 2.10GHz  26076  40       192G
#   56-63           Xeon Platinum 8358 @ 2.60GHz  54416  64       192G

# List of available queues:
# short: max 1  day,  nodes 32-39
# defq:  max 20 days, all other nodes

# Run these in your shell before compiling/running:
# $ module purge
# $ module load mpi/openmpi-x86_64
# $ module load compilers/gcc11.1.0
# $ export OMPI_MCA_btl="tcp,self"  # this is due to a missconfiguration of infiniband

# Decide which flags will be used at compile-time
OPTIMISE = yes
WARN     = yes
DEBUG    = no
PROFILE  = no
OPENMP   = yes

# Compilers
CPP = cpp
FPP = cpp
CC  = mpicc
CXX = mpicxx
F77 = mpif77
F90 = mpif90

# Default flags
CPPFLAGS =
FPPFLAGS = -traditional
CFLAGS   = -g -gdwarf-4 -Wno-format-security
CXXFLAGS = -g -gdwarf-4 -Wno-format-security -I /mnt/porao/HOMERMT/jpmferreira@UA.PT/projects/boost_1_82_0
F77FLAGS = -g -gdwarf-4 -fcray-pointer -m128bit-long-double -ffixed-line-length-none
F90FLAGS = -g -gdwarf-4 -fcray-pointer -m128bit-long-double -ffixed-line-length-none
LDFLAGS  = -rdynamic

# Optimization flags
CPP_OPTIMISE_FLAGS =
FPP_OPTIMISE_FLAGS =
C_OPTIMISE_FLAGS   = -O2
CXX_OPTIMISE_FLAGS = -O2
F77_OPTIMISE_FLAGS = -O2
F90_OPTIMISE_FLAGS = -O2

# Warning flags
CPP_WARN_FLAGS = -Wall
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS   = -Wall
CXX_WARN_FLAGS = -Wall
F77_WARN_FLAGS = -Wall
F90_WARN_FLAGS = -Wall

# Debug flags
CPP_DEBUG_FLAGS =
FPP_DEBUG_FLAGS =
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0

# Code profiling flags
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

# OpenMP
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -D_OPENMP
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

# Libraries location
PTHREADS_DIR = NO_BUILD
MPI_DIR      =
MPI_LIBS     = mpi
HDF5_DIR     =
BLAS_DIR     = BUILD
BLAS_LIBS    = openblas
LAPACK_LIBS  = openblas
FFTW3_DIR    =
LIBJPEG_DIR  =
ZLIB_DIR     =
OPENSSL_DIR  =
HWLOC_DIR    =
LAPACK_DIR   =
